// Charts Pro

@import "../../core/_colors";
@import "../../core/_variables";
@import "../../pro/_variables";

.min-chart {
  position: relative;
  display: inline-block;
  width: $min-chart-width;
  height: $min-chart-height;
  margin-top: $min-chart-margin;
  margin-bottom: $min-chart-margin;
  text-align: center;
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  .percent {
    z-index: 2;
    display: inline-block;
    line-height: $min-chart-line-height;
    &::after {
      margin-left: $min-chart-percent-margin;
      font-size: $min-chart-percent-font-size;
      content: "%";
    }
  }
}
