@font-face {
    font-family: navHeading;
    src: url(../font/Lobster-Regular.ttf);
}

@font-face {
    font-family: heading;
    src: url(../font/OleoScript-Bold.ttf);
}

@font-face {
    font-family: paraHeading;
    src: url(../font/BreeSerif-Regular.ttf);
}

@font-face{
    font-family: anton;
    src: url(../font/Anton-Regular.ttf);
}

body {
    height: 100vh;
    background: linear-gradient(rgba(0, 200, 81, 0.1), rgba(0, 200, 81, 0.2)) fixed, url('https://images.pexels.com/photos/375751/pexels-photo-375751.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat fixed center/cover;
}

.body-bg {
    height: 100vh;
    background: linear-gradient(rgba(0, 0,0, 0.3), rgba(0,0,0, 0.5)) fixed, url('https://images.pexels.com/photos/375751/pexels-photo-375751.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat fixed center/cover;
}

.heading-main {
    font-family: navHeading;
    font-size: 1.7rem;
}

@media (min-width: 660px) { 
    body {
    height: 100vh;
    background: linear-gradient(rgba(0, 200, 81, 0.1), rgba(0, 200, 81, 0.2)) fixed, url(../img/background-pottify.jpg) no-repeat fixed center/cover;
}
    .body-bg {
    height: 100vh;
    background: linear-gradient(rgba(0, 0,0, 0.3), rgba(0,0,0, 0.5)) fixed, url(../img/background-pottify.jpg) no-repeat fixed center/cover;
}
.heading-main {
    font-family: navHeading;
    font-size: 2.5rem;
}
}



.navbar {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
}

.custom-navigation-bar {
    padding-top: 2px;
    padding-bottom: 2px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)) !important;
    transition: all 0.4s;
}

.button-action {
    position: absolute;
    margin-top: 80vh;
    left: 50%;
    transform: translate(-50%);
}

.button-action-2 {
    position: absolute;
    margin-top: 73vh;
    left: 50%;
    transform: translate(-50%);
}


.btn-custom {
    box-shadow: 2px 2px 6px 2px rgba(0, 126, 51, 0.8);
}

.fa-poo {
    font-size: 2.3rem;
}


.access-denied {
    position: absolute;
    margin-top: 30vh;
    left: 50%;
    transform: translate(-50%);
}


.access-denied-heading {
    color: #00e676;
    font-family: heading;
    font-size: 4rem;
    text-shadow: 2px 2px black;
}


.access-denied-sub-heading {
    font-family: paraHeading;
    color: #fff;
    text-shadow: 2px 2px black;
    font-size: 1.6rem;
}

.error-details{
    position: absolute;
    margin-top: 25vh;
    left: 50%;
    transform: translate(-50%);
}

.maincontainer{ padding-top: 75px; }


.container-username{
    margin-top: 110px;
}

.container-username-heading{
    color: white;
    margin: auto;
    font-family: navHeading;
    text-decoration: underline;
}

.card.card-cascade.wider.player {
  margin-top: -100px;
  width: 445px; }
  .card.card-cascade.wider.player .view.view-cascade {
    margin-left: 5%;
    margin-right: 5%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: rgba(0,0,0,0.8); }
    .card.card-cascade.wider.player .view.view-cascade .song {
      margin-left: 25%; }
      .card.card-cascade.wider.player .view.view-cascade .song #timeline {
        width: 100%;
        height: 5px;
        margin-top: .8rem;
        margin-bottom: 1.3rem;
        float: left;
        border-radius: 0px;
        background: #D1CBD6; }
      .card.card-cascade.wider.player .view.view-cascade .song #playhead {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        margin-top: -4px;
        background: #915EB8;
        cursor: pointer; }
  .card.card-cascade.wider.player .card-body.card-body-cascade {
    margin-right: 0;
    margin-left: 0;
    background-color: rgba(0,0,0,0.9);
    border-radius: 0px !important; }
    .card.card-cascade.wider.player .card-body.card-body-cascade .row {
      margin-right: 0;
      margin-left: 0; }
      .card.card-cascade.wider.player .card-body.card-body-cascade .row .image {
        margin-top: -35px;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        
}
      .card.card-cascade.wider.player .card-body.card-body-cascade .row .dot {
        top: 20px;
        left: 50%;
        width: 27px;
        height: 27px;
        position: absolute;
        background-color: rgba(0,0,0,0.7);
        border-radius: 50%;
        transform: translate(-50%, -50%); }
      .card.card-cascade.wider.player .card-body.card-body-cascade .row .icons #pButton {
        margin-top: -.55rem;
        float: none;
        cursor: pointer; }
      .card.card-cascade.wider.player .card-body.card-body-cascade .row .icons .fas {
        color: #dad4da;
        transition: all .2s;
        border-radius: 10px;
}
        .card.card-cascade.wider.player .card-body.card-body-cascade .row .icons .fas.fa-play, .card.card-cascade.wider.player .card-body.card-body-cascade .row .icons .fas.fa-pause {
          color: white; }
        .card.card-cascade.wider.player .card-body.card-body-cascade .row .icons .fas:hover {
          color: #fff;
          background-color: #dad4da;
          transition: all .2s; }

.h-100-vh {
  height: 100vh;
}

.spin-animation {
  animation: spin 8s linear infinite; 
}

@keyframes spin {
  100% {
    transform: rotate(360deg); } 
}

@media (max-width: 450px) {
	.card.card-cascade.wider.player {
    width: 345px;
	}
}

@media (max-width: 450px) {
	.card.card-cascade.wider.player .view.view-cascade .song {
    margin-left: 90px;
	}
}

@media (max-width: 450px) {
	.card.card-cascade.wider.player .card-body.card-body-cascade .row .image {
    width: 95px;
    height: 95px;
	}
}

@media (max-width: 450px) {
	.card.card-cascade.wider.player .card-body.card-body-cascade .row .dot {
    top: 13px;
    width: 23px;
    height: 23px;
	}
}
